@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/switch.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/card.scss";

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(218, 216, 216, 0.8);
}

.container {
  position: fixed;
  z-index: 1000;
  margin: auto;
  width: 800px;
  height: 1200px;
  background: url("../../assert/bg.png") no-repeat;
  background-size: 800px 1200px;
}

.tabs {
  margin: 200px 40px 0;
  width: 720px;
  height: 960px;
  background-color: #fff;
  border-radius: 20px;
}

.tabContent {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.input {
  font-size: 10px;
}

.empty {
  width: 300px;
  height: 140px;
  margin-top: 200px;
  margin-left: 200px;
}

.picker {
  position: fixed;
  bottom: 0;
}

.filter {
  display: flex;
  flex-direction: row;
}

.change {
  border-bottom: 1px #999;
  color: rgb(52, 157, 218);
}

.picker {
  font-size: 25px;
}

.download {
  color: rgb(52, 157, 218);
  font-size: 28px;
  border-bottom: 1px rgb(52, 157, 218);
  margin-left: 38%;
  margin-bottom: 20px;
}
